@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  padding: 1.5rem 15rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Serif', sans-serif;
}

.btn {
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #555;
}

.btn:hover {
  cursor: pointer;
}

.btn.primary {
  color: white;
  background-color: blue;
}

.btn.secondary {
  background-color: transparent;
  border: 1px solid blue;
  color: blue;
}

.btn.danger {
  background-color: red;
  color: white;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.page-header .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.page-header .actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.page-footer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.table-container {
  width: 100%;
}

.table-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.table-container header button {
  padding: 0.5rem;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-radius: 1rem;
  margin: 1rem 0;
}

thead {
  background-color: #fafafa;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: center;
}

td input {
  display: block;
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
}

th.id {
  width: 5%;
}

.description {
  text-align: left;
}
th.description {
  width: 55%;
}

td.actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
